[Unit]
Description=BOR Discord bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/bor daemon

[Install]
WantedBy=multi-user.target